{{- if .Values.resources.backend.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: backend
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: backend
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      securityContext:
        null
      containers:
        - name: backend
          securityContext:
            null
          image: {{ .Values.image.backend }}
          imagePullPolicy: {{ .Values.resources.backend.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            limits:
              cpu: {{ .Values.resources.backend.limits.cpu }}
              memory: {{ .Values.resources.backend.limits.memory }}
            requests:
              cpu: {{ .Values.resources.backend.requests.cpu }}
              memory: {{ .Values.resources.backend.requests.memory }}
          env:
            - name: DB_USER
              value: {{ .Values.env.db.user }}
            - name: DB_PASSWORD
              value: {{ .Values.env.db.password }}
            - name: DB_HOST
              value: {{ .Values.env.db.host }}
            - name: DB_PORT
              value: {{ .Values.env.db.port }}
            - name: DB_NAME
              value: {{ .Values.env.db.name }}
            - name: API_KEY
              value: {{ .Values.env.api_key }}
{{- end }}
